
:root{
  --bordo:#9f3647;  /* â† Defino la variable */
  --texto-blanco: white;
  --fondo-negro: #181419;  
}

*{ /* Selector universal */
    font-family: 'Nunito', sans-serif;
    font-weight: 200 1000;
    font-stretch: 100%;
    margin: 0;   
}


.texto-blanco{
   color: var(--texto-blanco); 
}

.header{
height: 9vh;
background-color: var(--bordo);
padding-top: 1vh;
padding-left: 3vw;
font-size: 1.1rem;
font-weight: bold;
min-height: 50px;

/*flexbox*/
display:flex;
justify-content: center;
align-items: center;
}

.header_logo{
    height: 5vh;
    width: 45vw;
}

.header_logo_link{
    text-decoration: none;
    color: var(--texto-blanco);
}

.header_menu { 
    height: 10vh;
    width: 78vw;
    color: var(--texto-blanco);
    padding-right: 5vw;    

    /*flexbox*/
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.header_menu a {
    padding-left: 1vw;
    padding-right: 1vw;
    text-decoration: none;   
    color: var(--texto-blanco)
}

#header_menu_iniciar_sesion{
    background-color: var(--fondo-negro);
    padding: 1vh;
    border-radius: 5px;
    font-size: 1rem; /*son 16 px*/
    text-decoration: none;   
    color: var(--texto-blanco)
}

.busqueda{
    text-align: center;
    height: 50vh;
    background-color: var(--fondo-negro);
    color: var(--texto-blanco);
    padding-top: 10vh;
    font-size: 1.5rem;
    
    /*flexbox*/
    display: flex;
    flex-direction: column;
}

.busqueda > H2 + form{
    padding-top:6vh     
}

.busqueda form input{
    padding:1vh     
}

.input_busqueda{
padding: 2vh 3vh;
text-transform: capitalize;
border-radius: 25px;
width: 30vw;
height: 6vh;
border:none;

}

.boton_busqueda{
padding: 2vh 3vh;
border-radius: 25px;
border: 2px solid var(--texto-blanco);
background-color: var(--bordo);    
color: var(--texto-blanco);
font-weight: bold;
font-size: 1rem;
}

.boton_busqueda:hover{
    font-size: 1.1rem; 
}

hr{
    margin:0 auto;
    margin-top: 15vh;
    width: 75vw;
    border: 0.5px solid var(--bordo);
}


.main{  
    background-image: linear-gradient(to right top, #0000008a, #0000008a), url(/imgs/banner-bg.jpg);
    height: 90vh; /* altura */
    width: 100vw; /* ancho */
    background-size: cover;
    background-position: center;
    text-align:center;
    min-height: 400px;  
    font-weight: bold;

    /*flexbox*/
    display:flex;
    flex-direction: column;
    align-items: center;    
}

    .main_titulo{
        padding-top: 20vh;
        padding-bottom: 5vh;
        font-size: 4rem;
        font-weight: 400;
    }

    .main_subtitulo{
        margin-bottom: 5vh;
        font-size: 2.2rem;
        font-weight: 400;
    }

    .main_btn_registrarse{
        text-decoration: none;
        padding: 15px;
        background-color:var(--bordo);
        color: var(--texto-blanco);
        border-radius: 5px;
        font-size: 1.2rem;
        font-weight: 700; 
    }

    .flecha_arriba{
        position: fixed;
        bottom: 5px;
        right: 25px;
        cursor: pointer;
    }

 /*media query para impresion*/

 @media print {

 
    :root {
        --bordo: chocolate;  
        --texto-blanco: cornflowerblue;   
    }

    .header{
        font-weight: normal;
        background-color: aquamarine;
    }

}
